/node_modules
/public/hot
/public/build
/public/storage
/storage/*.key
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# Allow storage/app/public/sample-uploads/ to be tracked
!storage/app/public/sample-uploads/
!storage/app/public/sample-uploads/*
